<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin sinh viên</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navbarStudent_Employer.css}" />
    <link rel="stylesheet" th:href="@{/css/profileStudent.css}" />
</head>
<body>
<div th:replace="~{navbar/navbarStudent :: navbarAdmin}"></div>
<div class="profile-container">
    <p > </p>
    <!-- Profile Card -->
    <div class="profile-card">
        <img src="/images/employee.jpeg" alt="Avatar" class="avatar">
        <div class="profile-info">
            <h2 class="profile-name" th:text="${account.fullName}"></h2>
            <p th:text="${account.role}" class="profile-role"></p>
            <form class="profile-form">
                <div class="form-group">
                    <label class="form-label">Số điện thoại:</label>
                    <span th:text="${account.phone}" class="form-value"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Email:</label>
                    <span th:text="${account.email}" class="form-value"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Địa chỉ:</label>
                    <span th:text="${studentDetails != null ? studentDetails.address : 'Chưa cập nhật'}" class="form-value"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Trường học:</label>
                    <span th:text="${studentDetails != null ? studentDetails.university : 'Chưa cập nhật'}" class="form-value"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Địa chỉ làm việc mong muốn:</label>
                    <span th:text="${studentDetails.preferredJobAddress}" class="form-value"></span>
                </div>
            </form>
        </div>
        <div class="profile-buttons">
            <a th:href="@{/Student/EditProfile}"><button  class="btn btn-edit">Sửa thông tin</button></a>
            <button class="btn btn-password">Đổi mật khẩu</button>
        </div>
    </div>
    <div class="section intro-section">
        <h3 class="section-title">Giới thiệu bản thân</h3>
        <p th:text="${studentDetails != null ? studentDetails.profileDescription : 'Chưa có thông tin giới thiệu'}" class="section-content">.</p>
    </div>
    <div class="section experience-section">
        <h3 class="section-title">Kinh nghiệm</h3>
        <p th:text="${studentDetails != null ? studentDetails.experience : 'Chưa có thông tin kinh nghiệm'}" class="section-content">.</p>
    </div>
    <p th:text="${successMessage}"></p>
    <p th:text="${errorMessage}"></p>
</div>
</body>
<script th:src="@{/js/navbarAdmin.js}"></script>
</html>