<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navbarStudent_Employer.css}" />
</head>
<body>
<nav class="admin-vertical-navbar" id="adminNavbar" th:fragment="navbarAdmin">
    <div class="admin-logo-area">
        <a th:href="@{/}" class="admin-text-logo-link">
            <span class="admin-text-logo">JOB4YOU</span>
        </a>
        <button class="toggle-btn" id="toggleBtn">
            <i class="bi bi-list"></i>
        </button>
    </div>
    <ul class="admin-nav-links">
        <li>
            <a href="#" class="active">
                <i class="bi bi-house-door"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a th:href="@{/Student/Profile}">
                <i class="bi bi-people"></i>
                <span>Profile Student</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-briefcase"></i>
                <span>Jobs</span>
            </a>
        </li>
        <li>
            <a th:href="@{/Student/ChangePassword}">
                <i class="bi bi-gear"></i>
                <span>Change Password</span>
            </a>
        </li>
        <li>
            <a th:href="@{/logout}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</nav>
<script src="/js/navbarAdmin.js"></script>
</body>
</html>