<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" th:href="@{/css/footer.css}" />
<body>
<div th:fragment="footer">

<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Job4You</h3>
      <p>Nền tảng tìm việc làm hàng đầu Việt Nam</p>
      <div class="social-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <div class="footer-section">
      <h4>Dành cho ứng viên</h4>
      <ul>
        <li><a href="#">Tìm việc làm</a></li>
        <li><a href="#">Tạo CV</a></li>
        <li><a href="#">Hướng dẫn nghề nghiệp</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Dành cho nhà tuyển dụng</h4>
      <ul>
        <li><a href="#">Đăng tin tuyển dụng</a></li>
        <li><a href="#">Tìm ứng viên</a></li>
        <li><a href="#">Gói dịch vụ</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Hỗ trợ</h4>
      <ul>
        <li><a href="#">Liên hệ</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Chính sách bảo mật</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Job4You. All rights reserved.</p>
  </div>
</footer>
  </div>

</body>
</html>