<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/navbarHome.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/registerEnhanced.css}" />
    <link rel="stylesheet" th:href="@{/css/navbarEnhanced.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div th:replace="~{navbar/navbarHome :: home}"></div>
    <div class="page-container login-container">
        <h2>ĐĂNG NHẬP TÀI KHOẢN</h2>
        <h3 th:text="${messages}"> </h3>
        <h3 th:text="${changepass}"></h3>
        <p class="subtitle">Hoặc <a th:href="@{/Register}">đăng ký NGAY</a> nếu bạn chưa có.</p>

        <!-- Hiển thị lỗi nếu có -->
        <div th:if="${param.error}" class="error-message">
            <p>Email hoặc mật khẩu không đúng!</p>
        </div>
        <!-- Hiển thị thông báo logout -->
        <div th:if="${param.logout}" class="success-message">
            <p>Bạn đã đăng xuất thành công!</p>
        </div>
        <form class="login-form" method="post" th:action="@{/Login}">
            <div class="form-group">
                <input type="text" id="email" name="email" placeholder="Email hoặc Số điện thoại" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Mật khẩu" required>
            </div>
            <div class="form-options">
                <a th:href="@{/ForgotPassword}" class="forgot-password">Quên mật khẩu?</a>
            </div>
            <button type="submit" class="content-btn content-btn-primary login-page-btn"><span class="icon-lock"></span>Đăng nhập</button>

            <div class="social-login-divider">
                <span>Hoặc đăng nhập bằng</span>
            </div>
            <div class="social-login-buttons">
                <button type="button" class="content-btn social-btn facebook-btn"><img src="/images/communication.png" alt="Facebook icon">Facebook</button>
                <button type="button" class="content-btn social-btn google-btn">
                    <a href="/oauth2/authorization/google" style="text-decoration: none; color: inherit;">
                        <img src="/images/google.png" alt="Google icon">Google
                    </a>
                </button>
            </div>
        </form>
    </div>
    </body>
    </html>